<div class="bg-white min-vh-100 d-grid">
  <div class="d-grid">
    <h1 class="mx-auto my-auto fw-bold px-3">Edit Service</h1>
  </div>
  <div class="mx-auto px-3">
    <%= form_with model: @service do |form| %>
      <div class="d-grid gap-2">
        <div>
          <%= form.label :name, class: "fw-bold" %>
        </div>
        <div>
          <%= form.text_field :name, class: "form-control bg-light"  %>
        </div>
        <div>
          <%= form.label :duration, class: "fw-bold" %>
        </div>
        <div>
          <%= form.number_field :duration, class: "form-control bg-light"  %>
        </div>
        <div>
          <%= form.label :price, class: "fw-bold" %>
        </div>
        <div>
          <%= form.number_field :price, class: "form-control bg-light" %>
        </div>
        
        <div class="d-grid gap-3 col-6 mx-auto pt-4">
          <%= form.submit 'Edit', class: "btn color-btn rounded-pill text-white fw-bold" %>
        </div>
      </div>
    <% end %>
    <div class="d-grid col-6 mx-auto pt-2 mb-3">
      <div class="mx-auto">
        <%= button_to "Go back", 'javascript:history.back()', method: :get, class: "btn color-btn rounded-pill text-white fw-bold mx-auto" %>
      </div>
    </div>
  </div>
</div>