<%= javascript_include_tag 'confirmations' %>

<div class="d-grid">
  <div class="d-grid mt-4">
  <%= link_to  "< Back", 'javascript:history.back()',  class: "green-back-link fw-bold text-decoration-none" %>
    <h1 class="mx-auto fw-bold text-white px-3">Manage Services</h1>
  </div>
  <table class="table table-responsive table-hover table-sm table-light mx-2 mt-4 rounded">
    <thead class="thead-ligth">
      <tr>
        <th scope="col">Service</th>
        <th scope="col">Hours</th>
        <th scope="col">Price</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @services.each do |service| %>
        <tr class="align-middle">
          <th scope="row"><%=service.name %></th>
          <td><%=service.duration %></td>
          <td><%=service.price %></td>
          <td><%= button_to "Edit", edit_service_path(service), method: :get , form_class: "w-20", class: "btn btn-warning  text-white fw-bold w-100" %></td>
          <td><%= button_to "Destroy", service_path(service), method: :delete , form_class: "w-20", class: "btn btn-danger  text-white fw-bold w-100", :onclick => "return ConfirmAction();" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="d-grid gap-2">
    <%= button_to "New Service", new_service_path, method: :get , type: "button",  form_class: "d-grid gap-2 col-6 mx-auto", class: "btn color-btn rounded-pill text-white fw-bold" %>
    <%= button_to "Go back", manager_dashboard_path, method: :get , type: "button",  form_class: "d-grid gap-2 col-6 mx-auto", class: "btn color-btn rounded-pill text-white fw-bold" %>
    <div class="mx-auto">
    </div>
  </div>
</div>
