<div class="d-grid">
  <div class="d-grid mt-4">
    <h1 class="mx-auto fw-bold text-white px-3">Manage Services</h1>
  </div>
  <table class="table table-responsive table-hover table-sm table-light mx-2 mt-4 rounded">
    <thead class="thead-ligth">
      <tr>
        <th scope="col">Service</th>
        <th scope="col">Hours</th>
        <th scope="col">Price</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @services.each do |service| %>
        <tr class="align-middle">
          <th scope="row"><%=service.name %></th>
          <td><%=service.duration %></td>
          <td><%=service.price %></td>
          <td><%= button_to "Edit", edit_service_path(service), method: :get , form_class: "w-20", class: "btn btn-warning  text-white fw-bold w-100" %></td>
          <td><%= button_to "Destroy", service_path(service), method: :delete , form_class: "w-20", class: "btn btn-danger  text-white fw-bold w-100" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="d-grid gap-2">
    <%= button_to "New Service", new_service_path, method: :get , type: "button",  form_class: "d-grid gap-2 col-6 mx-auto", class: "btn color-btn rounded-pill text-white fw-bold" %>
    <%= button_to "Go back", managers_admin_path, method: :get , type: "button",  form_class: "d-grid gap-2 col-6 mx-auto", class: "btn color-btn rounded-pill text-white fw-bold" %>
    <div class="mx-auto">
<<<<<<< HEAD
=======
      <a class="center-a" href="<%= new_service_path %>"><%= image_tag("/assets/21a921f165298b0110b80821cc5bd761.svg", class: "add-manager-icon mx-auto")%></a>
    </div>
    <div class="mx-auto">
      <%= button_to "Go back", managers_admin_path, method: :get , form_class: "mx-auto", class: "btn color-btn rounded-pill text-white fw-bold" %>
>>>>>>> master
    </div>
  </div>
</div>
