<div class="bg-white min-vh-100 d-grid">
  <div class="d-grid">
    <h1 class="mx-auto my-auto fw-bold px-3">Create Licence</h1>
  </div>
  <div class="mx-auto px-3">
    <%= form_with(model: @license) do |form| %>
      <div class="d-grid gap-2">
        <div>
          <%= form.label :user_id, class: "fw-bold" %>
        </div>
        <div>
          <%= form.collection_select(:user_id, User.all, :id, :name, { include_blank: true }, { class: "form-control rounded-pill text-center" }) %>
        </div>
        <div>
          <%= form.label :name, class: "fw-bold" %>
          <%= form.text_field :name, class: "form-control" %>
        </div>
        <div>
          <%= form.label :number, class: "fw-bold" %>
          <%= form.text_field :number, class: "form-control" %>
        </div>
        <div class="d-grid gap-3 col-6 mx-auto pt-4">
          <%= form.submit 'Create', class: "btn color-btn rounded-pill text-white fw-bold mx-auto"%>
        </div>
      </div>
    <% end %>
    <div class="d-grid col-6 mx-auto pt-2 mb-3">
      <div class="mx-auto">
        <%= button_to "Cancel", professionals_path, method: :get, class: "btn color-btn rounded-pill text-white fw-bold mx-auto" %>
      </div>
    </div>
  </div>
</div>
