<%= javascript_include_tag 'confirmations'%>

<p class="m-auto ms-2">
  <% if current_user.role == 'professional'%>
    <%= link_to  "< Back", professional_dashboard_path,  class: "black-back-link fw-bold text-decoration-none" %>
  <% else %>
    <%= link_to  "< Back", professional_path,  class: "black-back-link fw-bold text-decoration-none" %>
  <% end %>
</p>
<h1 class="mx-auto text-white fw-bold my-2 pb-2 text-center">Manage my licenses</h1>
<% if current_user.role == 'professional'%>
  <a class="center-a" href="<%= new_license_path(current_user.id) %>"><%= image_tag("plus_button.svg", class: "add-manager-icon mx-auto")%></a><br>
<% end %>
<div class="bg-container-cards mx-2">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Type of license</th>
        <th scope="col">Number</th>
        <th scope="col">Manage</th>
      </tr>
    </thead>
    <tbody>
      <% @license.map do |lic| %>
        <tr>
          <td>
            <%= lic.name %>
          </td>
          <td>
            <%= lic.number %>
          </td>
          <td>
            <div class="d-flex gap-1">
              <% if current_user.role == 'professional' %>
                <%= link_to "Edit", edit_license_path(lic), class: 'btn btn-sm btn-warning' %>
                <%= button_to "Delete", license_path(lic), method: :delete, class: 'btn btn-sm btn-danger', :onclick => "return ConfirmAction();" %>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
