<div  id="<%= dom_id slot %>">
  <div class="form-group py-2">
    <label class="pb-2 fw-bold" >Service:</label>
    <label for="" class="form-control"> <%= slot.service %> </label>
  </div>
  <div class="form-group py-2">
    <label class="pb-2 fw-bold" >Professional:</label>
    <label for="" class="form-control"> <%= slot.professional %> </label>
  </div>
  <div class="form-group py-2">
    <label class="pb-2 fw-bold" >Start time:</label>
    <label for="" class="form-control"> <%= slot.start_time.strftime("%H:%M") %> </label>
  </div>
  <div class="form-group py-2">
    <label  class="pb-2 fw-bold" >Status:</label>
    <label for="" class="form-control"> <%= slot.status %> </label>
  </div>
</div>
