<div class="d-flex" id="<%= dom_id slot %>">
  <p>
    <strong>Service:</strong>
    <%= slot.service %>
  </p>
  <p>
    <strong>Professional:</strong>
    <%= slot.professional %>
  </p>
  <p>
    <strong>Start time:</strong>
    <%= slot.start_time %>
  </p>
  <p>
    <strong>Status:</strong>
    <%= slot.status %>
  </p>
</div>
