<div class="bg-white p-3 vh-100">
<%= link_to  "< Back", 'javascript:history.back()',  class: "black-back-link fw-bold text-decoration-none" %>
  <div class="">
    <p style="color: green"><%= notice %></p>
    <h1 class="text-center">Calendar of patient service spaces</h1>
    
    <div>
      <%= week_calendar events: @slots do |date, slots| %>
        <p class="fw-bold text-center">
          <%= date.day %>
        </p>
        <div class="d-flex flex-wrap gap-1 align-items-center justify-content-center">
          <% slots.each do |slot| %>
            <% if slot.status == 'available' %>
              <%= button_to slot.start_time.strftime("%H:%M"), edit_slot_path(slot), method: :get, form_class: "", class: "btn btn-sm btn-success text-white  " %>
            <% else %>
              <%= button_to slot.start_time.strftime("%H:%M"), slot_path(slot), method: :get, form_class: "", class: "btn btn-sm btn-warning text-black " %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
