<div class="bg-white p-3">
  <div class="">
    <p style="color: green"><%= notice %></p>
    <h1 class="text-center">Calendar of patient service spaces</h1>
    <%= link_to "New slot", new_slot_path %>
    <div class="">
      <%= week_calendar events: @slots do |date, slots| %>
        <% if date.strftime("%A") != 'Sunday' %>
          <p class="fw-bold text-center">
            <%= date.day %>
          </p>
          <div class="d-flex flex-wrap gap-1 h-100">
            <% slots.each do |slot| %>
              <% if slot.status == 'available' %>
                <%= button_to slot.start_time.strftime("%H:%M"), edit_slot_path(slot), method: :get, form_class: "", class: "btn btn-sm btn-success text-white  " %>
              <% else %>
                <div class="d-flex gap-1 align-items-center">
                  <%= button_to slot.start_time.strftime("%H:%M"), slot_path(slot), method: :get, form_class: "", class: "btn btn-sm color-btn-2 text-white fw-bold" %>
                  <p class="m-0 p-0 fw-light"><%= @services.map { |service| (service.id == slot.service.to_i)? service.name : next}.reject { |x| x.nil? }.join %></p>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
