<div class="bg-white p-2">
  <h1 class="text-center">Reservation space detail</h1>
  <p style="color: green p-0 m-0"><%= notice %></p>
</div>
<div id="schedule-new" class="min-vh-100 bg-white text-dark d-flex flex-column align-content-center p-3 gap-2">
  <%= form_with model: @appointment, class: "form-group" do |form| %>
    <div class="form-group py-2" >
      <%= form.label :date_time, class: "pb-2 fw-bold" %>
      <%= form.text_field :date_time, value:  @slot.start_time.strftime("%d-%m-%Y, %H:%M"), readonly: true, class: "form-control"%>
    </div>
    <div class="form-group py-2">
      <%= form.label :reason, class: "pb-2 fw-bold" %>
      <%= form.text_field :reason, class: "form-control" %>
      <small id="reasonHelp" class="form-text text-muted">Enter a brief description of the reason for your visit.</small>
    </div>
    <div class="form-group py-2">
      <%= form.label :service_id, class: "pb-2 fw-bold" %>
      <%= form.text_field :service_id, value: @services.map { |service| (service.id == @slot.service.to_i)? service.name : next }.reject { |x| x.nil? }.join, readonly: true, class: "form-control" %>
      <%= form.hidden_field :service_id, value: @services.map { |service| (service.id == @slot.service.to_i)? service.id.to_i : next }.reject { |x| x.nil? }.join, class: "form-control" %>
    </div>
    <div class="form-group py-2">
      <%= form.label :patient_id, class: "pb-2 fw-bold" %>
      <%= form.text_field :patient_id, value: current_patient.patient_full_name, class: 'form-control', readonly: true %>
      <%= form.hidden_field :patient_id, value: current_patient.id, class: 'form-control' %>
    </div>
    <div class="form-group py-2">
      <%= form.label 'Professional', class: "pb-2 fw-bold" %>
      <%= form.text_field :user_id, value: @professionals.map { |professional| (professional.id == @slot.professional.to_i)? professional.full_name : next }.reject { |x| x.nil? }.join, readonly: true, class: "form-control" %>
      <%= form.hidden_field :user_id, value: @professionals.map { |professional| (professional.id == @slot.professional.to_i)? professional.id.to_i : next }.reject { |x| x.nil? }.join, class: "form-control" %>
    </div>
    <div class="d-flex flex-column form-group py-2 gap-2">
      <%= form.submit 'Create appointment',class: "btn btn-success text-white fw-bold w-100"%>
      <%= link_to 'Go back to hours', slots_services_path, class: "btn btn-primary text-white fw-bold w-100"%>
    </div>
  <% end %>
</div>
