<div class="bg-white vh-100 p-5">
  <h1>Reservation space detail</h1>
  <p style="color: green"><%= notice %></p>
  <%= render "slot", slot: @slot %>
  <div class="d-flex gap-2">
    <%= link_to "Make Appointment", appointments_path(@appointment, reason: 'cualquier razon'), class: 'btn btn-success fw-bold' %>
    <%= link_to "Back to spaces", slots_path, class: 'btn btn-primary fw-bold' %>
    <%= button_to "Make an appointment", appointments_path(@appointment, reason: 'some reason' ), method: :post, class: 'btn btn-danger fw-bold' %>
  </div>
</div>
