<div class="bg-white p-3 mh-100">
  <div class="">
    <p style="color: green"><%= notice %></p>
    <h1 class="text-center">Calendar of availables hours by services</h1>
    <div class="">
      <%= week_calendar events: @slots do |date, slots| %>
        <% if date.strftime("%A") != 'Sunday' %>
          <p class="fw-bold text-center">
            <%= date.day %>
          </p>
          <div class="d-flex flex-wrap gap-1 p-0">
            <% @services.map do |service|%>
              <div class="card border-success ">
                <div class="card-header">
                  <p class="text-center m-0 pt-0 w-100"><%= service.name%></p>
                </div>
                <div class="card-body d-flex flex-wrap gap-1">
                  <%slots.map do |slot|%>
                    <% if slot.service.to_i == service.id %>
                      <div class="">
                        <%= button_to slot.start_time.strftime("%H:%M"), slot_path(slot), method: :get, form_class: "", class: "btn btn-sm color-btn-2 text-white fw-bold" %>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <%= link_to  "View availability by professional", slots_professionals_path, class: 'btn btn-primary' %>
</div>
