<div class="vh-100 m-0 p-0">
  <div class="masthead">
    <div class="masthead-content text-white h-50">
      <div class="container-fluid px-4 px-lg-0">
        <h2 class="fst-italic lh-1 mb-4 text-center">Resend confirmation instructions</h2>

        <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "patients/shared/error_messages", resource: resource %>

          <div class="field pb-2">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "example@nutricheck.com", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
          </div>

          <div class="actions col-sm mx-auto w-100 pb-2">
            <%= f.submit "Resend confirmation instructions", class: "btn color-btn text-white fw-bold w-100" %>
          </div>
        <% end %>
        <div class="d-flex flex-column my-2">
          <%= render "patients/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
