<div class="bg-white min-vh-100 d-grid">
  <div class="d-grid">
    <h1 class="mx-auto my-auto fw-bold px-3">Edit Professional</h1>
  </div>
  <div class="mx-auto px-3">
    <%= form_with model: @user do |form| %>
      <div class="d-grid gap-2">
        <div>
          <%= form.label :name, class: "fw-bold" %>
        </div>
        <div>
          <%= form.text_field :name, class: "form-control bg-light"  %>
        </div>
        <div>
          <%= form.label :last_name, class: "fw-bold" %>
        </div>
        <div>
          <%= form.text_field :last_name, class: "form-control bg-light" %>
        </div>
        <div>
          <%= form.label :birth_date, class: "fw-bold" %>
        </div>
        <div>
          <%= form.date_field :birth_date, class: "form-control bg-light" %>
        </div>
        <div>
          <%= form.label :phone, class: "fw-bold" %>
        </div>
        <div>
          <%= form.text_field :phone, class: "form-control bg-light" %>
        </div>
        <div>
          <%= form.label :email, class: "fw-bold" %>
        </div>
        <div>
          <%= form.text_field :email, class: "form-control bg-light" %>
        </div>
        <div>
          <%= form.label :password, class: "fw-bold" %>
        </div>
        <div>
          <%= form.text_field :password, class: "form-control bg-light" %>
        </div>
        <div>
          <%= form.label :role, class: "fw-bold" %>
        </div>
        <div>
          <%= form.select :role, [["Administrator", "administrator"], ["Manager", "manager"], ["Professional", "professional"] ], {}, {class: "form-control  bg-light rounded-pill text-center"} %>
        </div>
        <div>
          <%= form.label :speciality_id, class: "fw-bold" %><br>
        </div>
        <div>
          <%= form.collection_select(:speciality_id, Speciality.all.order(name: :asc), :id, :name, { include_blank: true }, { class: "form-control  bg-light rounded-pill text-center" }) %>
        </div>
        <div>
          <%= form.label :photo, class: "fw-bold" %>
        </div>
        <div>
          <%= form.file_field :photo, class: "form-control bg-light" %>
        </div>
        <div class="d-grid gap-3 col-6 mx-auto pt-4">
          <%= form.submit 'Edit', class: "btn color-btn rounded-pill text-white fw-bold" %>
        </div>
      </div>
    <% end %>
    <div class="d-grid col-6 mx-auto pt-2 mb-3">
      <div class="mx-auto">
        <%= button_to "Go back", professionals_path, method: :get, class: "btn color-btn rounded-pill text-white fw-bold mx-auto" %>
      </div>
    </div>
  </div>
</div>