<div class="d-grid gap-2 mt-2">
  <p class="m-auto ms-2">
    <%= link_to  "< Back", administrators_path,  class: "black-back-link fw-bold text-decoration-none" %>
  </p>
  <h1 class="mx-auto text-white fw-bold">Professionals</h1>
  <a class="center-a" href="<%= new_professional_path %>"><%= image_tag("/assets/21a921f165298b0110b80821cc5bd761.svg", class: "add-manager-icon mx-auto")%></a>
  <div class="row row-cols-3 row-cols-md-3 g-1 m-2 bg-container-cards rounded">
    <% @professionals.each do |professional|%>
      <div class="col">
        <div class="card h-100 shadow">
          <%= image_tag(professional.photo, class:"card-img-top pt-2 mx-auto h-50 w-50") if professional.photo.attached?%>
          <div class="card-body mx-auto">
            <p class="card-title"><%= professional.name %> <%= professional.last_name %></p>
            <p class="card-title"><%= professional.speciality.name %></p>
            <p class="card-title"><%= professional.id %></p>
          </div>
          <%= button_to "Check", professional_path(professional), method: :get, form_class: "d-grid mx-auto", class: "btn btn-sm color-btn-2 rounded-pill shadow text-white fw-bold mb-1" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
