<h1>Professionals</h1>
<div>
  <% @professionals.each do |professional|%>
    <div>
      <div>
        <%= professional.name %>
      </div>
      <div>
        <%= professional.last_name %>
      </div>
      <div>
        <%= professional.phone %>
      </div>
      <div>
        <%= professional.email %>
      </div>
      <div>
        <%= button_to "Edit", edit_professional_path(professional), method: :get %>
        <%= button_to "Show", professional_path(professional), method: :get %>
        <%= button_to "Destroy", professional_path(professional), method: :delete %>
      </div>
      <hr>
    <% end %>
  </div>
</div>
<div>
  <%= button_to "New Professional", new_professional_path, method: :get %>
</div>
<div>
  <%= button_to "Manage specialities", specialities_path, method: :get %>
</div>
<div>
  <%= button_to "Go back", administrators_path, method: :get %>
</div>
