<%= javascript_include_tag 'confirmations' %>

<div class="d-grid">
  <div class="d-grid my-4">
    <h1 class="mx-auto fw-bold text-white px-3">Manage specialities</h1>
  </div>
  <div class="card mx-3 my-3">
    <% @specialities.each do |speciality|%>
      <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex w-100 gap-2">
          <p class="w-100 my-auto"><%= speciality.name %></p>
          <%= button_to "Edit", edit_speciality_path(speciality), method: :get , form_class: "w-20", class: "btn btn-warning  text-white fw-bold w-100" %>
          <%= button_to "Delete", speciality_path(speciality), method: :delete , form_class: "w-20", class: "btn btn-danger  text-white fw-bold w-100", :onclick => "return ConfirmAction();"%>
        </li>
      </ul>
    <% end %>
  </div>
  <div class="d-grid gap-2 mx-auto mb-3">
    <div class="mx-auto">
      <a class="center-a" href="<%= new_speciality_path %>"><%= image_tag("plus_button.svg", class: "add-manager-icon mx-auto")%></a>
    </div>
    <div class="mx-auto">
      <% if current_user.role == 'manager'%>
        <%= button_to "Go back", manager_dashboard_path, method: :get , form_class: "mx-auto", class: "btn color-btn rounded-pill text-white fw-bold" %>
      <% else %>
        <%= button_to "Go back", professional_dashboard_path, method: :get , form_class: "mx-auto", class: "btn color-btn rounded-pill text-white fw-bold" %>
      <% end %>
    </div>
  </div>
</div>
