<h2 class="text-white text-center p-4 pt-4 mt-4">Forgot your password?</h2>

<div class="container-sm container-lg bg-light center">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "patients/shared/error_messages", resource: resource %>

    <div class="field center">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="actions">
      <%= f.submit "Send me reset password instructions" %>
    </div>
  <% end %>

  <%= render "patients/shared/links" %>
</div>