<div class="bg-white min-vh-100 d-grid">
  <p class="m-auto ms-2">
    <%= link_to  "< Back", users_path,  class: "green-back-link fw-bold text-decoration-none" %>
  </p>
  <div class="d-grid m-auto">
    <h1 class="mx-auto fw-bold">Edit User</h1>
  </div>
  <div class="mx-auto">
    <%= form_with(model: @user) do |form| %>
      <div class="d-grid gap-2">
        <div>
          <%= form.label :name, class: "fw-bold" %>
        </div>
        <div>
          <%= form.text_field :name, class: "form-control bg-light text-black-50"  %>
        </div>
        <div>
          <%= form.label :last_name, class: "fw-bold" %>
        </div>
        <div>
          <%= form.text_field :last_name, class: "form-control bg-light text-black-50" %>
        </div>
        <div>
          <%= form.label :birth_date, class: "fw-bold" %>
        </div>
        <div>
          <%= form.date_field :birth_date, class: "form-control bg-light text-black-50" %>
        </div>
        <div>
          <%= form.label :phone, class: "fw-bold" %>
        </div>
        <div>
          <%= form.text_field :phone, class: "form-control bg-light text-black-50" %>
        </div>
        <div>
          <%= form.label :email, class: "fw-bold" %>
        </div>
        <div>
          <%= form.email_field :email, class: "form-control bg-light text-black-50" %>
        </div>
        <div>
          <%= form.label :current_password, class: "fw-bold" %>
        </div>
        <div>
          <%= form.text_field :current_password , class: "form-control bg-light text-black-50" %>
        </div>
        <div>
          <%= form.label :speciality_id, class: "fw-bold" %>
        </div>
        <div>
          <%= form.text_field :speciality_id, class: "form-control bg-light text-black-50" %>
        </div>
        <%= form.label :role, class: "fw-bold" %>
      </div>
      <div>
        <%= form.text_field :role, class: "form-control bg-light text-black-50" %>
      </div>
      <div class="d-grid gap-3 col-6 mx-auto pt-4">
        <%= form.submit 'Edit', class: "btn color-btn rounded-pill text-white fw-bold"%>
      </div>
    </div>
  <% end %>
</div>
</div>
