<div class="container text-center text-white p-4">
  <h2 class="mx-auto text-white fw-bold">User Detail</h2>
</div>

<div class="container d-flex justify-content-center">
  <div class="col col-sm-6 col-md-2 col-sm-2 col-xs-12 w-50 p-4">
    <div class="card h-100 shadow w-75">
      <div class="d-grid p-4 m-4 ms-4">
        <label for=" class="card-title pb-2 m-6 "><span class="m-2 fw-bold text-capitalize pb-2">name: </span><%= @user.name %></label>
        <label for=" class="card-title pb-2 m-2"><span class="m-2 fw-bold text-capitalize pb-2">last name: </span><%= @user.last_name %></label>
        <label for=" class="card-title pb-2 m-2"><span class="m-2 fw-bold text-capitalize pb-2">Birth Date: </span><%= @user.birth_date %></label>
        <label for=" class="card-title pb-2 m-2"><span class="m-2 fw-bold text-capitalize pb-2">Phone: </span><%= @user.phone %></label>
        <label for=" class="card-title pb-2 m-2"><span class="m-2 fw-bold text-capitalize pb-2">Email: </span><%= @user.email %></label>
        <label for=" class="card-title pb-2 m-2"><span class="m-2 fw-bold text-capitalize pb-2">Password: </span><%= @user.password %></label>
        <label for=" class="card-title pb-2 m-2"><span class="m-2 fw-bold text-capitalize pb-2">Role: </span><%= @user.role %></label>
        <label for=" class="card-title pb-2 m-2"><span class="m-2 fw-bold text-capitalize pb-2">Speciality ID: </span><%= @user.speciality_id %></label>
        <label for=" class="card-title pb-2 m-2"><span class="m-2 fw-bold text-capitalize pb-2">Date of Entry: </span><%= @user.created_at %></label>
        <div class="d-flex flex-column my-2 text-center">
          <%= button_to "volver a users", users_path, method: :get, class: "btn color-btn text-white fw-bold w-50"%>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
