<div class="d-grid gap-2 mt-4">
  <h1 class="mx-auto text-white fw-bold">Manager Admin Panel</h1>
  <div class="mx-2 my-3 bg-container-cards rounded">
    <div class="d-flex row;">
      <div class="col-md-4 rounded">
        <% if current_user.photo.attached? %>
          <%= image_tag(current_user.photo, class: "card-img h-100 cover") %>
        <% else %>
          <%= image_tag('coming_soon_2.png', class: "card-img h-100 cover") %>
        <% end %>
      </div>
      <div class="card-body bg-container-cards rounded">
        <h5 class="card-title p-0 m-0"><%= current_user.full_name %></h5>
        <p class="card-text  p-0 m-0"><%= current_user.email %></p>
        <p class="card-text  p-0 m-0"><%= current_user.phone %></p>
        <div class="btn-group gap-1 w-100" role="group" aria-label="Basic example" >
          <%= button_to "Edit", edit_manager_path(current_user), method: :get, type: "button", form_class: "col-sm mx-auto w-75", class: "btn btn-sm color-btn text-white fw-bold w-100" %>
          <%= button_to "Exit", destroy_user_session_path, method: :delete, type: "button", form_class: "col-sm mx-auto w-25", class: "btn btn-sm btn-warning text-white fw-bold w-100" %>
        </div>
      </div>
    </div>
  </div>
  <div class="btn-group mx-2 gap-1" role="group" aria-label="Basic example" >
    <%= button_to "Services", services_path, method: :get, type: "button", form_class: "col-sm mx-auto w-100", class: "btn color-btn text-white fw-bold w-100" %>
    <%= button_to "Schedules", schedules_path, method: :get, type: "button", form_class: "col-sm mx-auto w-100", class: "btn color-btn text-white fw-bold w-100" %>
  </div>
  <div class="btn-group mx-2 gap-1" role="group" aria-label="Basic example" >
    <%= button_to "Specialities", specialities_path, method: :get, type: "button", form_class: "col-sm mx-auto w-100", class: "btn color-btn text-white fw-bold w-100" %>
    <%= button_to "Appointments", search_appointments_path, method: :get, type: "button", form_class: "col-sm mx-auto w-100", class: "btn color-btn text-white fw-bold w-100" %>
  </div>
  <div class="btn-group mx-2 mb-2 gap-1" role="group" aria-label="Basic example" >
    <%= button_to "Patients", search_patients_path, method: :get, type: "button", form_class: "col-sm mx-auto w-100", class: "btn color-btn text-white fw-bold w-100" %>
    <%= button_to "Professionals", professionals_path, method: :get, type: "button", form_class: "col-sm mx-auto w-100", class: "btn color-btn text-white fw-bold w-100" %>
  </div>
  <h1 class="mx-auto text-white fw-bold mt-2 mb-0 pb-0">Appointments of today</h1>
  <p class="mx-auto text-white fw-bold p-0 my-0">Today we have <%= @appointments_today_count %> Patients</p>
</div>
<div class="bg-container-cards m-2">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Hour</th>
        <th scope="col">Patient</th>
        <th scope="col">Manage</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'appointment', collection: @appointments %>
    </tbody>
  </table>
  <div class="d-flex justify-content-center gap-1 pb-2">
    <% if @pagy.prev.present? && @pagy.next.present? %>
      <%= button_to "Prev", pagy_url_for(@pagy, @pagy.prev), class: "btn btn-sm color-btn fw-bold text-white" %>
      <%= button_to "Next", pagy_url_for(@pagy, @pagy.next), class: "btn btn-sm color-btn fw-bold text-white" %>
    <% elsif @pagy.prev.present? %>
      <%= button_to "Prev", pagy_url_for(@pagy, @pagy.prev), class: "btn btn-sm color-btn fw-bold text-white" %>
    <% elsif @pagy.next.present? %>
      <%= button_to "Next", pagy_url_for(@pagy, @pagy.next), class: "btn btn-sm color-btn fw-bold text-white" %>
    <% end %>
  </div>
</div>
