<div class="d-grid gap-2 mt-2">
  <p class="m-auto ms-2">
    <%= link_to  "< Back", administrators_path,  class: "black-back-link fw-bold text-decoration-none" %>
  </p>
  <h1 class="mx-auto text-white fw-bold">Managers</h1>
  <a class="center-a" href="<%= new_manager_path %>"><%= image_tag("/assets/21a921f165298b0110b80821cc5bd761.svg", class: "add-manager-icon mx-auto")%></a>
  <div class="row row-cols-3 row-cols-md-3 g-1 m-2 bg-container-cards rounded">
    <% @managers.each do |manager|%>
      <div class="col">
        <div class="card h-100 shadow">
          <img src="/assets/indice.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-title"><%= manager.name %> <%= manager.last_name %></p>
          </div>
          <%= button_to "Check", manager_path(manager), method: :get, form_class: "d-grid mx-auto", class: "btn color-btn-2 rounded-pill shadow text-white fw-bold mb-1" %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="d-grid gap-2 mx-auto mb-3">
    <%= button_to "Manage services", services_path, method: :get, type: "button", form_class: "col-sm mx-auto", class: "btn color-btn rounded-pill text-white fw-bold" %>
  </div>
</div>
