<div class="bg-white min-vh-100 d-grid">
  <p class="m-auto ms-2">
    <%= link_to  "< Back", 'javascript:history.back()',  class: "green-back-link fw-bold text-decoration-none" %>
  </p>
  <div class="d-grid m-auto">
    <h1 class="mx-auto fw-bold">Create New Manager</h1>
  </div>
  <div class="mx-auto">
    <%= form_with model: @user do |form| %>
      <% @user.errors.full_messages.each do |error| %>
        <div class="text-danger">
          <%= error %>
        </div>
      <% end %>
      <div class="d-grid gap-2">
        <div>
          <%= form.label :name, class: "fw-bold" %>
        </div>
        <div>
          <%= form.text_field :name, class: "form-control"  %>
        </div>
        <div>
          <%= form.label :last_name, class: "fw-bold" %>
        </div>
        <div>
          <%= form.text_field :last_name, class: "form-control" %>
        </div>
        <div>
          <%= form.label :birth_date, class: "fw-bold" %>
        </div>
        <div>
          <%= form.date_field :birth_date, class: "form-control" %>
        </div>
        <div>
          <%= form.label :phone, class: "fw-bold" %>
        </div>
        <div>
          <%= form.text_field :phone, class: "form-control" %>
        </div>
        <div>
          <%= form.label :email, class: "fw-bold" %>
        </div>
        <div>
          <%= form.email_field :email, class: "form-control" %>
        </div>
        <div>
          <%= form.label :password, class: "fw-bold" %>
        </div>
        <div>
          <%= form.text_field :password, class: "form-control" %>
        </div>
        <div>
          <%= form.label :role, class: "fw-bold" %>
        </div>
        <div>
          <%= form.select :role, [["Manager", "manager"]], {}, {class: "form-control rounded-pill text-center"} %>
        </div>
        <div>
          <%= form.label :speciality_id, class: "fw-bold" %>
        </div>
        <div>
          <%= form.collection_select(:speciality_id, Speciality.all.order(name: :asc), :id, :name, { include_blank: true }, { class: "form-control rounded-pill text-center" }) %>
        </div>
        <div>
          <%= form.label :photo, class: "fw-bold" %><br>
          <%= form.file_field :photo, class: "form-control" %>
        </div>
        <div class="d-grid gap-3 col-6 mx-auto pt-4">
          <%= form.submit 'Create', class: "btn color-btn rounded-pill text-white fw-bold"%>
        </div>
      </div>
    <% end %>
  </div>
</div>
