<div class="bg-white min-vh-100 d-grid">
  <div class="d-grid m-auto">
    <h1 class=" mx-auto fw-bold">Manager Info Detail</h1>
  </div>
  <div class="mx-auto my-0 d-grid gap-1">
    <div class="fw-bold">
      <label for="">Name: </label>
    </div>
    <div class="form-control bg-light text-black-50 m-auto">
      <%= @manager.name %>
    </div>
    <div class="fw-bold">
      <label for="">Last Name: </label>
    </div>
    <div class="form-control bg-light text-black-50 m-auto">
      <%= @manager.last_name %>
    </div>
    <div class="fw-bold">
      <label for="">Birth Date: </label>
    </div>
    <div class="form-control bg-light text-black-50 m-auto">
      <%= @manager.birth_date %>
    </div>
    <div class="fw-bold">
      <label for="">Phone Number: </label>
    </div>
    <div class="form-control bg-light text-black-50 m-auto">
      <%= @manager.phone %>
    </div>
    <div class="fw-bold">
      <label for="">Email: </label>
    </div>
    <div class="form-control bg-light text-black-50 m-auto">
      <%= @manager.email %>
    </div>
    <div class="fw-bold">
      <label for="">Role: </label>
    </div>
    <div class="form-control bg-light text-black-50 m-auto">
      <%= @manager.role.capitalize %>
    </div>
    <div class="fw-bold">
      <label for="">Speciality: </label>
    </div>
    <div class="form-control bg-light text-black-50 m-auto">
      <%= @manager.speciality.name %>
    </div>
    <div class="fw-bold">
      <label for="">Photo: </label>
    </div>
    <div class="form-control bg-light m-auto">
      <%= image_tag(@manager.photo, width: 300) if @manager.photo.attached? %>
    </div>
    <div class="mx-auto py-2">
      <%= button_to "Go back to managers", managers_path, method: :get, form_class: "d-grid gap-2 col-15 mx-auto py-1", class: "btn color-btn rounded-pill text-white fw-bold"%>
      <%= button_to "Edit", edit_manager_path(@manager), method: :get, form_class: "d-grid gap-2 col-15 mx-auto py-1", class: "btn btn-warning rounded-pill text-white fw-bold"%>
      <%= button_to "Destroy", manager_path(@manager), method: :delete, form_class: "d-grid gap-2 col-15 mx-auto py-1", class: "btn btn-danger rounded-pill text-white fw-bold"%>
    </div>
  </div>
</div>
