<h1>Manager detail</h1>
<div>
  <div>
    <label for="">Name: </label>
    <%= @manager.name %>
  </div>
  <div>
    <label for="">Last Name: </label>
    <%= @manager.last_name %>
  </div>
  <div>
    <label for="">Birth Date: </label>
    <%= @manager.birth_date %>
  </div>
  <div>
    <label for="">Phone Number: </label>
    <%= @manager.phone %>
  </div>
  <div>
    <label for="">Email: </label>
    <%= @manager.email %>
  </div>
  <div>
    <label for="">Password: </label>
    <%= @manager.password %>
  </div>
  <div>
    <label for="">Role: </label>
    <%= @manager.role %>
  </div>
  <div>
    <label for="">Date of entry: </label>
    <%= @manager.created_at %>
  </div>
  <div>
    <label for="">speciality_id: </label>
    <%= @manager.speciality_id %>
  </div>
  <div>
    <%= button_to "volver a managers", managers_path, method: :get%>
  </div>
</div>
