<div id="schedule-edit" class="bg-white text-dark d-flex flex-column justify-content-center p-4 m-5">
  <p class="h1">Edit Schedule</p>
  <%= form_with model: @schedule, class: "form-group" do |form| %>
    <%= form.label :week_day %>
    <div>
      <%= form.text_field :week_day, class: "form-control"%>
    </div>
    <%= form.label :opening_time %>
    <div>
      <%= form.text_field :opening_time, class: "form-control" %>
    </div>
    <%= form.label :closing_time %>
    <div>
      <%= form.text_field :closing_time, class: "form-control" %>
    </div>
    <div>
      <%= form.submit ' Edit', class: "btn btn-primary color-btn"%>
    </div>
  <% end %>
</div>
