<div class="bg-white min-vh-100 p-4">
  <div class="d-grid">
    <%= link_to  "< Back", 'javascript:history.back()',  class: "green-back-link fw-bold text-decoration-none" %>
  </p>
  <div class="d-grid m-auto">
    <h1 class="mx-auto fw-bold">Edit Schedule</h1>
  </div>
  <div class="mx-auto">
    <%= form_with model: @schedule do |form| %>
      <div class="d-grid gap-3">
        <div>
          <%= form.label :week_day, class: "fw-bold" %>
        </div>
        <div>
          <%= form.select :week_day, [["Monday"], ["Tuesday"], ["Wednesday"], ["Thursday"], ["Friday"], ["Saturday"], ["Sunday"]], {}, {class: "form-control bg-light rounded-pill text-center"} %>
        </div>
        <div>
          <%= form.label :opening_time, class: "fw-bold" %>
        </div>
        <div>
          <%= form.time_field :opening_time, class: "form-control bg-light" %>
        </div>
        <div>
          <%= form.label :closing_time, class: "fw-bold" %>
        </div>
        <div>
          <%= form.time_field :closing_time, class: "form-control bg-light" %>
        </div>
        <div class="d-grid gap-3 col-6 mx-auto pt-4">
          <%= form.submit 'Edit', class: "btn color-btn rounded-pill text-white fw-bold"%>
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>
