<div class="d-grid pt-2">
  <p class="m-auto ms-2">
    <% if current_user.role == 'administrator'%>
      <%= link_to  "< Back", administrator_dashboard_path,  class: "black-back-link fw-bold text-decoration-none" %>
    <% elsif current_user.role == 'professional'%>
      <%= link_to  "< Back", professional_dashboard_path,  class: "black-back-link fw-bold text-decoration-none" %>
    <% else %>
      <%= link_to  "< Back", manager_dashboard_path,  class: "black-back-link fw-bold text-decoration-none" %>
    <% end %>
  </p>
  <div class="d-grid m-auto">
    <h1 class=" mx-auto fw-bold text-white my-2">Company Schedule</h1>
    <% if current_user.role == 'administrator'%>
      <a class="center-a" href="<%= new_schedule_path %>"><%= image_tag("plus_button.svg", class: "add-manager-icon mx-auto")%></a><br>
    <% end %>
  </div>
  <table class="table table-responsive table-sm table-light mx-2 mt-4 rounded">
    <thead class="thead-ligth">
      <tr>
        <th scope="col">Dia</th>
        <th scope="col">Apertura</th>
        <th scope="col">Cierre</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @schedules.each do |schedule| %>
        <tr>
          <th scope="row"><%=schedule.week_day %></th>
          <td><%=schedule.opening_time.strftime("%H:%M") %></td>
          <td><%=schedule.closing_time.strftime("%H:%M") %></td>
          <td><a class="w-100 h-100" href="<%= schedule_path(schedule) %>"><%= image_tag("/assets/settings_48.svg", class: "add-setting-icon mx-auto")%></a></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
