<div id="schedule-new" class="bg-white text-dark d-flex flex-column justify-content-center p-4 m-5">
  <p class="h1">New Schedule</p>
  <%= form_with model: @schedule, class: "form-group" do |form| %>
    <%= form.label :week_day %>
    <div>
      <%= form.select :week_day, [["Monday"], ["Tuesday"], ["Wednesday"], ["Thursday"], ["Friday"], ["Saturday"], ["Sunday"]], {}, {class: "form-control rounded-pill text-center"} %>
    </div>
    <%= form.label :opening_time %>
    <div>
      <%= form.time_field :opening_time, class: "form-control" %>
    </div>
    <%= form.label :closing_time %>
    <div>
      <%= form.time_field :closing_time, class: "form-control" %>
    </div>
    <div>
      <%= form.submit 'Create', class: "btn btn-primary color-btn"%>
    </div>
  <% end %>
</div>
