<div class="bg-white min-vh-100 p-4">
  <div class="d-grid">
    <div class="d-grid m-auto">
      <h1 class=" mx-auto fw-bold">Schedule Info Detail</h1>
    </div>
    <div class="mx-auto my-0 d-grid gap-3 pt-4">
      <div class="fw-bold">
        <label for="">Day: </label>
      </div>
      <div class="form-control bg-light text-black-50 m-auto">
        <%= @schedule.week_day %>
      </div>
      <div class="fw-bold">
        <label for="">Opening Time: </label>
      </div>
      <div class="form-control bg-light text-black-50 m-auto">
        <%= @schedule.opening_time.strftime('%l:%M %p') %>
      </div>
      <div class="fw-bold">
        <label for="">Closing Time: </label>
      </div>
      <div class="form-control bg-light text-black-50 m-auto">
        <%= @schedule.closing_time.strftime('%l:%M %p') %>
      </div>
      <div class="mx-auto py-2">
        <%= button_to "Go back to schedule", 'javascript:history.back()', method: :get, form_class: "d-grid gap-2 col-15 mx-auto py-1", class: "btn color-btn rounded-pill text-white fw-bold"%>
        <%= button_to "Edit", edit_schedule_path(@schedule), method: :get, form_class: "d-grid gap-2 col-15 mx-auto py-1", class: "btn btn-warning rounded-pill text-white fw-bold"%>
        <%= button_to "Destroy", schedule_path(@schedule), method: :delete, form_class: "d-grid gap-2 col-15 mx-auto py-1", class: "btn btn-danger rounded-pill text-white fw-bold"%>
      </div>
    </div>
  </div>
</div>
