<%= form_with model: @turn do |form| %>
  <%= form.label :schedules %>
  <div>
    <%= collection_select(:turn, :schedule_id, Schedule.all, :id, :gethours) %>
  </div>
  <%= form.label :user %>
  <div>
    <%= collection_select(:turn, :user_id, User.all, :id, :getname) %>
  </div>
  <%= form.submit %>
<% end %>