<h1>Turns List</h1>

<%= form_with url: turns_path, method: :get do |form| %>

  <%= form.text_field :query_text, placeholder: 'search name & speciality ', onChange: 'this.form.requestSubmit()', value: params[:query_text] %>

<% end %>

<%= notice %>
<%= alert %>

<div>
  <%= render partial: 'turn', collections: @turns %>
</div>
<div>
  <%= button_to "Create new Turn", new_turn_path, method: :get %>
</div>
