<div class="bg-white min-vh-100 d-grid px-3">
  <div class="d-grid m-auto">
    <h1 class=" mx-auto fw-bold">Turn detail</h1>
  </div>
  <div class="mx-auto my-0 d-grid gap-1">
    <div class="fw-bold">
      <label for="">Hours: </label>
    </div>
    <div class="form-control bg-light text-black-50 m-auto">
      <%= @turn.schedule.gethours %>
    </div>
    <div class="fw-bold">
      <label for="">User: </label>
    </div>
    <div class="form-control bg-light text-black-50 m-auto">
      <%= @turn.user.getname %>
    </div>
    <div class="mx-auto py-2">
      <%= button_to "Go back to turns", turns_path, method: :get, form_class: "d-grid gap-2 col-15 mx-auto py-1", class: "btn color-btn rounded-pill text-white fw-bold" %>
      <%= button_to "Edit", edit_turn_path(@turn), method: :get, form_class: "d-grid gap-2 col-15 mx-auto py-1", class: "btn btn-warning rounded-pill text-white fw-bold" %>
      <%= button_to "Destroy", turn_path(@turn), method: :delete, form_class: "d-grid gap-2 col-15 mx-auto py-1", class: "btn btn-danger rounded-pill text-white fw-bold" %>
    </div>
  </div>
</div>
