<div>< <%= link_to "back", turns_path %></div>
<h2>Turn Show</h2>

<div>
  <p><%= @turn.schedule.gethours %></p>
  <p><%= @turn.user.getname %></p>
</div>

<%= link_to "edit", edit_turn_path, method: :get %>
<%= button_to "delete", turn_path, method: :delete %>

