<div class="vh-100 m-0 p-0">
  <div id="main_div" >
    <div class="masthead">
      <div class="masthead-content text-white h-50">
        <div class="container-fluid px-4 px-lg-0">
          <h1 class="fst-italic lh-1 mb-4 text-center">NUTRICHECK</h1>
          <p class="mb-5 text-center">The ideal website for your control and health</p>
          <p class="mb-0 text-center">Phone Number:</p>
          <p class="mb-7 text-center">(312)1478963</p>
          <!-- * * * * * * * * * * * * * * *-->
          <%= button_to "Dashboard", patient_dashboard_path, method: :get,type: "button", form_class: "col-sm mx-auto w-75", class: "btn btn-sm color-btn text-white fw-bold w-100" if patient_signed_in?%>
          <%= button_to "Staff Dashboard", professional_dashboard_path, method: :get,type: "button", form_class: "col-sm mx-auto w-75", class: "btn btn-sm color-btn text-white fw-bold w-100" if user_signed_in?%>
          <%= button_to "Log out", destroy_patient_session_path, :method => :delete, type: "button", form_class: "col-sm mx-auto w-75", class: "btn btn-sm color-btn text-white fw-bold w-100" if patient_signed_in? %>
          <%= button_to "Log out", destroy_user_session_path, :method => :delete, type: "button", form_class: "col-sm mx-auto w-75", class: "btn btn-sm color-btn text-white fw-bold w-100" if user_signed_in? %>
          <%= button_to "Log In", new_patient_session_path, method: :get,type: "button", form_class: "col-sm mx-auto w-75", class: "btn btn-sm color-btn text-white fw-bold w-100" unless patient_signed_in? || user_signed_in? %>
        </div>
      </div>
    </div>
    <div class="social-icons">
      <div class="d-flex flex-row flex-lg-column justify-content-center align-items-center h-100 mt-3 mt-lg-0">
        <a class="btn btn-dark m-3" href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
        <a class="btn btn-dark m-3" href="https://m.facebook.com/"><i class="fab fa-facebook-f"></i></a>
        <a class="btn btn-dark m-3" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
        <a class="btn btn-dark m-3" href="https://www.google.com.mx/maps/search/Glorieta+De+Los+Perritos+Bailarines/@19.2840153,-103.7465035,17z"><i class="fa-solid fa-map-location"></i></a>
      </div>
    </div>
  </div>
  <footer class="text-center text-white fixed-bottom" style="background-color: #163D2D;">
    © <%= Time.now.strftime("%Y")%> Nutricheck:
  </footer>
  <!-- Social Icons-->
  <!-- For more icon options, visit https://fontawesome.com/icons?d=gallery&p=2&s=brands-->
</div>
