<div class="vh-100 m-0 p-0">
  <div class="masthead">
    <div class="masthead-content text-white h-75">
      <div class="container-fluid px-4 px-lg-0">
        <h2 class="fst-italic lh-1 mb-4 text-center">Sign up pacientes</h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "patients/shared/error_messages", resource: resource %>
        
          <div class="field pb-2">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "example@nutricheck.com" %>
          </div>

          <div class="field pb-2">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
          </div>

          <div class="field pb-2">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
          </div>
          

          <div class="field pb-2">
            <%= f.label :name %><br />
            <%= f.text_field :name, class: "form-control", placeholder: "David" %>
          </div>

          <div class="field pb-2">
            <%= f.label :last_name %><br />
            <%= f.text_field :last_name, class: "form-control", placeholder: "Gomez" %>
          </div>

          <div class="field pb-2">
            <%= f.label :birth_date %><br />
            <%= f.date_field :birth_date, class: "form-control" %>
          </div>


          <div class="field pb-2">
            <%= f.label :phone %><br />
            <%= f.telephone_field :phone, class: "form-control", placeholder: "+503 56892314" %>
          </div>

          <div class="field pb-4">
            <%= f.label :height %><br />
            <%= f.number_field :height, class: "form-control", placeholder: "180" %>
          </div>

          <div class="actions col-sm mx-auto w-100 pb-2">
            <%= f.submit "Sign up", class: "btn color-btn text-white fw-bold w-100" %>
          </div>
        <% end %>

        <div class="d-flex flex-column my-2">
          <%= render "patients/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
