<div class="bg-white min-vh-100 d-grid pt-4">
  <div class="d-grid">
    <h1 class="mx-auto my-auto fw-bold px-3">Create Patient</h1>
  </div>
  <div class="mx-auto px-3">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |form| %>
      
      <% @patient.errors.full_messages.each do |error| %>
        <div class="text-danger">
          <%= error %>
        </div>
      <% end %>

      <div class="d-grid gap-2">
        <div>
          <%= form.label :name, class: "fw-bold" %><br>
          <%= form.text_field :name, class: "form-control", placeholder: "David" %>
        </div>
        <div>
          <%= form.label :second_name, class: "fw-bold" %><br>
          <%= form.text_field :second_name, class: "form-control", placeholder: "Oscar" %>
        </div>
        <div>
          <%= form.label :last_name, class: "fw-bold" %><br>
          <%= form.text_field :last_name, class: "form-control", placeholder: "Gomez" %>
        </div>
        <div>
          <%= form.label :second_last_name, class: "fw-bold" %><br>
          <%= form.text_field :second_last_name, class: "form-control", placeholder: "Velasquez" %>
        </div>
        <div>
          <%= form.label :birth_date, class: "fw-bold" %><br>
          <%= form.date_field :birth_date, class: "form-control" %>
        </div>
        <div>
          <%= form.label :phone, class: "fw-bold" %><br>
          <%= form.text_field :phone, class: "form-control", placeholder: "+503 23568945" %>
        </div>
        <div>
          <%= form.label :email, class: "fw-bold" %><br>
          <%= form.email_field :email, class: "form-control", placeholder: "example@nutricheck.com" %>
        </div>
        <div>
          <%= form.label :password, class: "fw-bold" %><br>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <%= form.password_field :password, class: "form-control" %>
        </div>
        <div>
          <%= form.label :password_confirmation, class: "fw-bold"  %><br>
          <%= form.password_field :password_confirmation, autocomplete: "new-password", class: "form-control"  %>
        </div>
        <div>
          <%= form.label :height, class: "fw-bold" %><br>
          <%= form.number_field :height, class: "form-control", placeholder: "175" %>
        </div>
        <div>
          <%= form.label :observations, class: "fw-bold" %><br>
          <%= form.text_field :observations, class: "form-control", placeholder: "Good Health" %>
        </div>

        <div>
          <%= form.label :photo, class: "fw-bold" %><br>
          <%= form.file_field :photo, class: "form-control" %>
        </div>
        <div  class="d-grid gap-3 col-6 mx-auto pb-2">
          <%= form.submit 'Create', class: "btn color-btn rounded-pill text-white fw-bold"%>
        </div>
      </div>
    <% end %>
    <div class="d-grid gap-3 py-2">
      <%= button_to "Go back", patient_session_path, method: :get, type: "button",  form_class: "d-grid gap-2 col-6 mx-auto", class: "btn color-btn rounded-pill pb-2 text-white fw-bold mb-4"%>
    </div>
  </div>
</div>


