<div class="bg-white min-vh-100 d-grid pt-4">
  <div class="d-grid">
    <h1 class="mx-auto my-auto fw-bold px-3">Create Patient</h1>
  </div>
  <div class="mx-auto px-3">
    <%= form_with(model: @patient) do |form| %>
      <div class="d-grid gap-2">
        <div>
          <%= form.label :name, class: "fw-bold" %><br>
          <%= form.text_field :name, class: "form-control" %>
        </div>
        <div>
          <%= form.label :second_name, class: "fw-bold" %><br>
          <%= form.text_field :second_name, class: "form-control" %>
        </div>
        <div>
          <%= form.label :last_name, class: "fw-bold" %><br>
          <%= form.text_field :last_name, class: "form-control" %>
        </div>
        <div>
          <%= form.label :second_last_name, class: "fw-bold" %><br>
          <%= form.text_field :second_last_name, class: "form-control" %>
        </div>
        <div>
          <%= form.label :birth_date, class: "fw-bold" %><br>
          <%= form.date_field :birth_date, class: "form-control" %>
        </div>
        <div>
          <%= form.label :phone, class: "fw-bold" %><br>
          <%= form.text_field :phone, class: "form-control" %>
        </div>
        <div>
          <%= form.label :email, class: "fw-bold" %><br>
          <%= form.email_field :email, class: "form-control" %>
        </div>
        <div>
          <%= form.label :password, class: "fw-bold" %><br>
          <%= form.text_field :password, class: "form-control" %>
        </div>
        <div>
          <%= form.label :height, class: "fw-bold" %><br>
          <%= form.number_field :height, class: "form-control" %>
        </div>
        <div>
          <%= form.label :observations, class: "fw-bold" %><br>
          <%= form.text_field :observations, class: "form-control" %>
        </div>
        <div>
          <%= form.label :photo, class: "fw-bold" %><br>
          <%= form.file_field :photo, class: "form-control" %>
        </div>
        <div  class="d-grid gap-3 col-6 mx-auto pt-2">
          <%= form.submit 'Create', class: "btn color-btn rounded-pill text-white fw-bold"%>
        </div>
      </div>
    <% end %>
    <div class="d-grid gap-3 py-2">
      <%= button_to "Go back", patients_path, method: :get, type: "button",  form_class: "d-grid gap-2 col-6 mx-auto", class: "btn color-btn rounded-pill text-white fw-bold"%>
    </div>
  </div>
</div>
