<div class="vh-100 m-0 p-0">
  <div class="masthead">
    <div class="masthead-content text-white h-50">
      <div class="container-fluid px-4 px-lg-0">
        <h1 class="fst-italic lh-1 mb-4 text-center">NUTRICHECK</h1>
        <!-- * * * * * * * * * * * * * * *-->
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field pb-2">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>
          <div class="field pb-2">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
          </div>
          <% if devise_mapping.rememberable? %>
            <div class="field pb-2">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>
          <div class="col-sm mx-auto w-100">
            <%= f.submit "Log in", class: "btn color-btn text-white fw-bold w-100" %>
          </div>
        <% end %>
        <div class="d-flex flex-column my-2">
          <%= render "patients/shared/links"%>
        </div>
        <%= link_to "Staff Log In", new_user_session_path, class: "btn btn-sm color-btn text-white fw-bold w-50 mt-2" %>
      </div>
    </div>
  </div>
  <div class="social-icons">
    <div class="d-flex flex-row flex-lg-column justify-content-center align-items-center h-100 mt-3 mt-lg-0">
      <a class="btn btn-dark m-3" href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
      <a class="btn btn-dark m-3" href="https://m.facebook.com/"><i class="fab fa-facebook-f"></i></a>
      <a class="btn btn-dark m-3" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
      <a class="btn btn-dark m-3" href="https://www.google.com.mx/maps/search/Glorieta+De+Los+Perritos+Bailarines/@19.2840153,-103.7465035,17z"><i class="fa-solid fa-map-location"></i></a>
    </div>
  </div>
  <footer class="text-center text-white fixed-bottom" style="background-color: #163D2D;">
    © <%= Time.now.strftime("%Y")%> Nutricheck:
  </footer>
  <!-- Social Icons-->
  <!-- For more icon options, visit https://fontawesome.com/icons?d=gallery&p=2&s=brands-->
</div>
