<div class="d-grid pt-2">
  <p class="m-auto ms-2">
    <%= link_to  "< Back", 'javascript:history.back()', class: "black-back-link fw-bold text-decoration-none" %>
  </p>
  <div class="d-grid m-auto">
    <h1 class=" mx-auto fw-bold text-white my-2">Appointments Reports</h1>
  </div>
  <table class="table table-responsive table-sm table-light mx-2 mt-4 rounded ">
    <thead class="thead-ligth">
      <tr class="text-center">
        <th scope="col">Year</th>
        <th scope="col">Month</th>
        <th scope="col">Total Month</th>
        <th scope="col">% Total Year</th>
        <th scope="col">Total accumulated</th>
      </tr>
    </thead>
    <tbody>
      <%# <% @schedules.each do |schedule| %> %>
        <% @total = @appointments.all.count %>
        <% @acumulado = 0 %>
        <% @appointments.group_by_month(:date_time).count.each do |key, value| %>
          <tr class="text-center">
            <th scope="row"><%=key.strftime("%Y") %></th>
            <th scope="row"><%=key.strftime("%B") %></th>
            <td><%=value %></td>
            <td><%=  ((value.to_f / @total) * 100).round(2)%>%</td>
            <td><%= @acumulado += value %> </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="btn-group mx-2 mb-2 gap-1" role="group" aria-label="Basic example" >
      <%# <%= button_to "Open Schedule", schedule_new_slots_path, method: :get, type: "button", form_class: "col-sm mx-auto w-100", class: "btn color-btn text-white fw-bold w-100" %>
      <%# <%= button_to "Edit Turns", slots_path, method: :get, type: "button", form_class: "col-sm mx-auto w-100", class: "btn color-btn text-white fw-bold w-100" %> %> %>
    </div>
    <div class="bg-white rounded">
      <%= column_chart @appointments_data, stacked: true, title: "Appointments", download: {filename: "chart", background: "#ffffff"}, height: "500px"%>
    </div>
  </div>
