<div>
  <h1>Admin Profile</h1>
  <div>
    <% @administrators.each do |administrator| %>
      <div>
        <%=administrator.name %> <br>
        <%=administrator.last_name %> <br>
        <%=administrator.phone %> <br>
        <%=administrator.email %> <br>
        <%= button_to "edit", edit_administrator_path(administrator), method: :get %>
        <%= button_to "show", administrator_path(administrator), method: :get %>
      </div>
    <% end %>
  </div>
  <div>
    <div>
      <h2>Options</h2>
      <%= button_to "Manage All Employees", users_path, method: :get %><br>
      <%= button_to "Manage Managers", managers_path, method: :get %><br>
      <%= button_to "Manage Professionals", professionals_path, method: :get %><br>
      <%= button_to "Manage Schedules", schedules_path, method: :get %><br>
    </div>
    <div>
      <h2>Reports</h2>
      <a>Appointments</a><br>
      <a>Sales</a>
    </div>
  </div>
</div>
