<div class="d-grid pt-2">
  <p class="m-auto ms-2">
    <%= link_to  "< Back", 'javascript:history.back()', class: "black-back-link fw-bold text-decoration-none" %>
  </p>
  <div class="d-grid m-auto">
    <h1 class=" mx-auto fw-bold text-white my-2">General Report</h1>
  </div>
  <div class="d-flex bg-white pl-3 pt-3 min-vw-100">
    <div class="w-100 mx-3">
      <div class="alert alert-primary" role="alert">
        Total employees <%= User.all.count %>
      </div>
      <div class="alert alert-secondary" role="alert">
        Total administrators <%= User.where(role: 'administrator').count %>
      </div>
      <div class="alert alert-secondary" role="alert">
        Total managers <%= User.where(role: 'manager').count %>
      </div>
      <div class="alert alert-success" role="alert">
        Total professionals <%= User.where(role: 'professional').count %>
      </div>
      <div class="alert alert-danger" role="alert">
        Total patients <%= Patient.all.count %>
      </div>
      <div class="alert alert-warning" role="alert">
        Total appointments <%= Appointment.all.count %>
      </div>
      <div class="alert alert-info" role="alert">
        Total services <%= Service.all.count %>
      </div>
      <div class="alert alert-light" role="alert">
        Total specialities <%= Speciality.all.count %>
      </div>
      <div class="alert alert-dark" role="alert">
        Total sales $<%= Service.all.sum(:price) * Appointment.all.count %>
      </div>
    </div>
    <div class="w-100 align-middle">
      <%= pie_chart User.all.group(:role).count %>
    </div>
  </div>
</div>
