<div class="d-grid pt-2">
  <p class="m-auto ms-2">
    <%= link_to  "< Back", 'javascript:history.back()', class: "black-back-link fw-bold text-decoration-none" %>
  </p>
  <div class="d-grid m-auto">
    <%# <%= form_with url:  appointments_report_administrators_path , method: :get, class: 'form-group w-50 mx-auto' do |form| %>
      <%# <%= form.date_field :start %> %>
      <%# <%= form.date_field :end %> %>
      <%# <%= form.submit%> %>
      <%# <% end %> %> %>
      <h1 class=" mx-auto fw-bold text-white my-2">Sales Reports</h1>
    </div>
    <div class="d-flex bg-white w-100">
      <table class="table table-responsive table-sm table-light mx-2 mt-4 rounded ">
        <thead class="thead-ligth">
          <tr class="text-center">
            <th scope="col">Fecha</th>
            <th scope="col">Service</th>
            <th scope="col">Total Sales</th>
          </tr>
        </thead>
        <tbody>
          <% @sales_overview.each do |overview| %>
            <tr class="text-center">
              <td scope="col"><%= overview.date_time.strftime("%B-%Y") %></td>
              <td scope="col"><%= overview.service_name %></td>
              <td scope="col"><%= overview.total_price %></td>
            </tr>
          <% end %>
          <%# <% @schedules.each do |schedule| %>
          </tbody>
        </table>
      </div>
    </div>
