<h2 class="mx-auto text-white fw-bold">Cards</h2>

<div class="card-bcg-panel w-75 my-3 px-2 py-2 mx-auto own-radius shadow-lg grid-container--fit card mb-3 mx-auto card-user-bcg own-radius grid-element mt-2 row no-gutters">
<%# <div class="row row-cols-1 row-cols-md-3 g-1 m-2 bg-container-cards rounded"> %>
  <% @cards.each do |card|%>
    <div class="col p-4">
      <div class="card h-100 shadow">
        <div class="d-grid">
          <p class="card-title m-2"><span class="m-2 fw-bold text-capitalize">appointment: </span><%= card.created_at.strftime("%a, %d/%m/%Y at %l:%M:%S %p") %></p>
          <p class="card-title m-2"><span class="m-2 fw-bold text-capitalize">weight: </span><%= card.weight %> m</p>
          <p class="card-title m-2"><span class="m-2 fw-bold text-capitalize">comment: </span><%= card.comments %></p>
          
          <p class="card-title m-2"><span class="m-2 fw-bold text-capitalize">diet: </span><%= card.diet_id %></p>
        </div>
        <%= button_to "Check", card_path(card), method: :get, form_class: "d-grid mx-auto", class: "btn color-btn-2 rounded-pill shadow text-white fw-bold mb-1" %>
      </div>
    </div>
  <% end %>
<%# </div> %>
</div>

<div>
  <a class="center-a pb-2 mb-4" href="<%= new_card_path %>"><%= image_tag("/assets/21a921f165298b0110b80821cc5bd761.svg", class: "add-manager-icon mx-auto")%></a>
</div>
