<div class="bg-white min-vh-100 d-grid px-3">
  <p class="m-auto ms-2">
    <%= link_to  "< Back professionals", professionals_path,  class: "green-back-link fw-bold text-decoration-none" %>
  </p>
  <div class="d-grid m-auto">
    <h1 class="mx-auto fw-bold">Create card</h1>
  </div>
  <div class="mx-auto">
    <%= form_with model: @card do |form| %>
      <div class="d-grid gap-2">
        <div>
          <%= form.label :patient_id, class: "fw-bold" %>
        </div>
        <div class="mx-auto">
          <%= form.collection_select(:patient_id, Patient.all, :id, :patient_full_name) %>
        </div>
        <div>
          <%= form.label :weight, class: "fw-bold" %>
        </div>
        <div>
          <%= form.number_field :weight, class: "form-control bg-light text-black-50" %>
        </div>
        <div>
          <%= form.label :comments, class: "fw-bold" %>
        </div>
        <div>
          <%= form.text_field :comments, class: "form-control bg-light text-black-50" %>
        </div>
        <div>
          <%= form.label :diet_id, class: "fw-bold" %>
        </div>
        <div class="mx-auto">
          <%= form.collection_select(:diet_id, Diet.all.order(name: :asc), :id, :name) %>
        </div>
        <div>
          <%= form.label :next_appointment, class: "fw-bold" %>
        </div>
        <div>
          <%= form.date_field :next_appointment, class: "form-control bg-light text-black-50" %>
        </div>
        <div class="d-grid gap-3 col-6 mx-auto pt-4">
          <%= form.submit 'Create', class: "btn color-btn rounded-pill text-white fw-bold"%>
        </div>
      </div>
    <% end %>
  </div>
</div>
