<div class="bg-white min-vh-100 d-grid px-3">
  <div class="d-grid m-auto">
    <h1 class=" mx-auto fw-bold">Card detail</h1>
  </div>
  <div class="mx-auto my-0 d-grid gap-1">
    <div class="fw-bold">
      <label for="">Date: </label>
    </div>
    <div class="form-control bg-light text-black-50 m-auto">
      <%= @card.created_at.strftime("%a, %d/%m/%Y at %l:%M:%S %p") %>
    </div>
    <div class="fw-bold">
      <label for="">Weight: </label>
    </div>
    <div class="form-control bg-light text-black-50 m-auto">
      <%= @card.weight %>
    </div>
    <div class="fw-bold">
      <label for="">Diet: </label>
    </div>
    <div class="form-control bg-light text-black-50 m-auto">
      <%= @card.diet.name %>
    </div>
    <div class="fw-bold">
      <label for="">Comments: </label>
    </div>
    <div class="form-control bg-light text-black-50 m-auto">
      <%= @card.comments %>
    </div>
    <div class="fw-bold">
      <label for="">Next appointment: </label>
    </div>
    <div class="form-control bg-light text-black-50 m-auto">
      <%= @card.next_appointment.strftime("%a, %d/%m/%Y") %>
    </div>
    <div class="mx-auto py-2">
      <%= button_to "Go back to professionals", professionals_path, method: :get, form_class: "d-grid gap-2 col-15 mx-auto py-1", class: "btn color-btn rounded-pill text-white fw-bold" %>
      <%= button_to "Edit", edit_card_path(@card), method: :get, form_class: "d-grid gap-2 col-15 mx-auto py-1", class: "btn btn-warning rounded-pill text-white fw-bold" %>
      <%= button_to "Destroy", card_path(@card), method: :delete, form_class: "d-grid gap-2 col-15 mx-auto py-1", class: "btn btn-danger rounded-pill text-white fw-bold" %>
    </div>
  </div>
</div>
