<div class="bg-white min-vh-100 d-grid">
  <p class="m-auto ms-2">
    <%= link_to  "< Back", managers_path,  class: "green-back-link fw-bold text-decoration-none" %>
  </p>
  <div class="d-grid m-auto">
    <h1 class="mx-auto fw-bold">Edit Diet</h1>
  </div>
  <div class="mx-auto">
    <%= form_with model: @diet do |form| %>
      <div class="d-grid gap-2">
        <div>
          <%= form.label :name, class: "fw-bold" %>
        </div>
        <div>
          <%= form.text_field :name, class: "form-control bg-light"  %>
        </div>
        <div>
          <%= form.label :description, class: "fw-bold" %>
        </div>
        <div>
          <%= form.text_area :description, class: "form-control bg-light" %>
        </div>
        <div>
          <%= form.label :comments, class: "fw-bold" %>
        </div>
        <div>
          <%= form.text_area :comments, class: "form-control bg-light" %>
        </div>
        <div class="d-grid gap-3 col-6 mx-auto pt-4">
          <%= form.submit 'Edit', class: "btn color-btn rounded-pill text-white fw-bold"%>
        </div>
      </div>
    <% end %>
  </div>
</div>
