<div class="bg-white min-vh-100 d-grid">
  <div class="d-grid m-auto">
    <h1 class=" mx-auto fw-bold">Diet Info Detail</h1>
  </div>
  <div class="mx-auto my-0 d-grid gap-1">
    <div class="fw-bold">
      <label for="">Name: </label>
    </div>
    <div class="form-control bg-light text-black-50 m-auto">
      <%= @diet.name %>
    </div>
    <div class="fw-bold">
      <label for="">Description: </label>
    </div>
    <div class="form-control bg-light text-black-50 m-auto">
      <%= @diet.description %>
    </div>
    <div class="fw-bold">
      <label for="">Comments: </label>
    </div>
    <div class="form-control bg-light text-black-50 m-auto">
      <%= @diet.comments %>
    </div>
    <div class="mx-auto py-2">
      <%= button_to "Go back to managers", diets_path, method: :get, form_class: "d-grid gap-2 col-15 mx-auto py-1", class: "btn color-btn rounded-pill text-white fw-bold"%>
      <%= button_to "Edit", edit_diet_path(@diet), method: :get, form_class: "d-grid gap-2 col-15 mx-auto py-1", class: "btn btn-warning rounded-pill text-white fw-bold"%>
      <%= button_to "Destroy", diet_path(@diet), method: :delete, form_class: "d-grid gap-2 col-15 mx-auto py-1", class: "btn btn-danger rounded-pill text-white fw-bold"%>
    </div>
  </div>
</div>
