<div id="schedule-new" class="min-vh-100 bg-white text-dark d-flex flex-column align-content-center p-4">
  <p class="h1">Edit appointment</p>
  <%= form_with model: @appointment, class: "form-group" do |form| %>
    <%= form.label :date_time %>
    <div>
      <%= form.text_field :date_time, class: "form-control"%>
    </div>
    <%= form.label :reason %>
    <div>
      <%= form.text_field :reason, class: "form-control" %>
    </div>
    <%= form.label :status %>
    <div>
      <%= form.text_field :status, class: "form-control" %>
    </div>
        <%= form.label :payment_status %>
    <div>
      <%= form.text_field :payment_status, class: "form-control" %>
    </div>
        <%= form.label :score %>
    <div>
      <%= form.text_field :score, class: "form-control" %>
    </div>
        <%= form.label :review %>
    <div>
      <%= form.text_field :review, class: "form-control" %>
    </div>
    <div>
      <%= form.submit 'Edit', class: "btn btn-primary color-btn"%>
    </div>
  <% end %>
</div>
