<div class="bg-white min-vh-100 d-grid px-3">
  <p class="m-auto ms-2">
    <%= link_to  "< Back", appointments_path,  class: "green-back-link fw-bold text-decoration-none" %>
  </p>
  <div class="d-grid m-auto">
    <h1 class="mx-auto fw-bold">Edit Appointment</h1>
  </div>
  <div class="mx-auto px-3">
    <%= form_with model: @appointment do |form| %>
      <div class="d-grid gap-2">
        <div>
          <%= form.label :date_time, class: "fw-bold" %>
        </div>
        <div>
          <%= form.datetime_field :date_time, class: "form-control bg-light text-black-50"  %>
        </div>
        <div>
          <%= form.label :reason, class: "fw-bold" %>
        </div>
        <div>
          <%= form.text_field :reason, class: "form-control bg-light text-black-50" %>
        </div>
        <div>
          <%= form.label :service_id, class: "fw-bold" %><br>
        </div>
        <div class="mx-auto">
          <%= form.collection_select(:service_id, Service.all.order(name: :asc), :id, :name, { include_blank: true }, { class: "rounded-pill border btn-success p-2 m-1 btn-lg border-success border-none" }) %>
        </div>
        <div>
          <%= form.label :patient_id, class: "fw-bold" %><br>
        </div>
        <div class="mx-auto">
          <%= form.collection_select(:patient_id, Patient.all.order(name: :asc), :id, :patient_full_name, { include_blank: true }, { class: "rounded-pill border btn-success p-2 m-1 btn-lg border-success border-none" }) %>
        </div>
        <div>
          <%= form.label :user_id, class: "fw-bold" %><br>
        </div>
        <div class="mx-auto">
          <%= form.collection_select(:user_id, User.all.order(role: :asc, name: :asc), :id, :get_professionals, { include_blank: true }, { class: "rounded-pill border btn-success p-2 m-1 btn-lg border-success border-none" }) %>
        </div>
        <div>
          <%= form.label :status, class: "fw-bold" %>
        </div>
        <div>
          <%= form.text_field :status, class: "form-control bg-light text-black-50" %>
        </div>
        <div>
          <%= form.label :payment_status, class: "fw-bold" %>
        </div>
        <div>
          <%= form.text_field :payment_status, class: "form-control bg-light text-black-50" %>
        </div>
        <div>
          <%= form.label :score, class: "fw-bold" %>
        </div>
        <div>
          <%= form.text_field :score, class: "form-control bg-light text-black-50" %>
        </div>
        <div>
          <%= form.label :review, class: "fw-bold" %>
        </div>
        <div>
          <%= form.text_field :review, class: "form-control bg-light text-black-50" %>
        </div>
        <div class="d-grid gap-3 col-6 mx-auto pt-4">
          <%= form.submit 'Edit', class: "btn color-btn rounded-pill text-white fw-bold" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
