<div class="d-grid">
  <div class="d-grid my-4">
    <h1 class="mx-auto fw-bold text-white px-3">Appointments</h1>
  </div>
  <div class="card-bcg-panel w-75 my-3 px-2 py-2 mx-auto own-radius shadow-lg grid-container--fit">
    <% @appointments.each do |appointment|%>
      <div class="mx-auto card-user-bcg own-radius grid-element mt-2">
        <div class ="card-title fw-bold" >
          <%= appointment.date_time.strftime("%a, %d/%m/%Y at %l:%M:%S %p") %><br>
          <%= appointment.service.name %>
        </div>
        <div class="card-text pb-2">
          <%= appointment.patient.patient_full_name %><br>
          Reason: <%= appointment.reason %>
        </div>
        <div class="d-grid gap-1">
          <%= button_to "Check", appointment_path(appointment), method: :get, form_class: "d-grid mx-auto", class: "btn color-btn-2 rounded-pill shadow text-white fw-bold mb-1" %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="d-grid gap-3 mx-auto mb-3">
    <a class="center-a" href="<%= new_appointment_path %>"><%= image_tag("/assets/21a921f165298b0110b80821cc5bd761.svg", class: "add-icon mx-auto")%></a>
    <%= button_to "Go back professionals", professionals_path, method: :get, form_class: "d-grid gap-2 col-15 mx-auto py-1", class: "btn color-btn rounded-pill text-white fw-bold" %>
  </div>
</div>
