<%= link_to  "< Back", 'javascript:history.back()',  class: "green-back-link fw-bold text-decoration-none" %>
<div class="d-grid">
  <% if current_patient %>
    <div class="d-grid">
      <div class="d-grid my-4">
        <h1 class="mx-auto fw-bold text-white px-3">Historic Appointments</h1>
      </div>
      <div class="card mx-3 my-3">
        <% current_patient.appointments.order('date_time DESC').each do |appointment|%>
          <div class="list-group-item d-flex w-100 gap-2 align-items-center px-1">
            <p class="my-auto w-25"><%= appointment.date_time.strftime("%d-%m-%Y") %></p>
            <p class="my-auto w-50"><%= appointment.service.name %></p>
            <%= button_to "Check", appointment_path(appointment), method: :get , form_class: "w-25", class: "btn btn-warning text-white fw-bold w-100" %>
          </div>
        <% end %>
      </div>
      <div class="d-grid gap-2 mx-auto mb-3">
      </div>
    </div>
  <% else %>
    <div class="d-grid my-4">
      <h1 class="mx-auto fw-bold text-white px-3">Appointments</h1>
      <div class="bg-container-cards m-2">
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Hour</th>
              <th scope="col">Patient</th>
              <th scope="col">Manage</th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: 'appointment', collection: @appointments %>
          </tbody>
        </table>
        <div class="d-flex justify-content-center gap-1 pb-2">
          <% if @pagy.prev.present? && @pagy.next.present? %>
            <%= button_to "Prev", pagy_url_for(@pagy, @pagy.prev), class: "btn btn-sm color-btn fw-bold text-white" %>
            <%= button_to "Next", pagy_url_for(@pagy, @pagy.next), class: "btn btn-sm color-btn fw-bold text-white" %>
          <% elsif @pagy.prev.present? %>
            <%= button_to "Prev", pagy_url_for(@pagy, @pagy.prev), class: "btn btn-sm color-btn fw-bold text-white" %>
          <% elsif @pagy.next.present? %>
            <%= button_to "Next", pagy_url_for(@pagy, @pagy.next), class: "btn btn-sm color-btn fw-bold text-white" %>
          <% end %>
        </div>
      </div>
      <div class="d-grid gap-3 mx-auto mb-3">
        <a class="center-a" href="<%= new_appointment_path %>"><%= image_tag("plus_button.svg", class: "add-manager-icon mx-auto")%></a>
        <%= button_to "Go back", 'javascript:history.back()', method: :get, form_class: "d-grid gap-2 col-15 mx-auto py-1", class: "btn color-btn rounded-pill text-white fw-bold" %>
      </div>
    </div>
  <% end %>
</div>
