<!DOCTYPE html>
<html>
  <head>
    <title>Nutricheck</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
  </head>
  <body class="color-bcg">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="pt-20">
      <%= yield %>
    </div>
  </body>
</html>
