<!DOCTYPE html>
<html>
  <head>
    <title>Nutricheck</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <!-- --------------- Javascrip bootstrap --------->
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </head>
  <body class="color-bcg ">
    <% if current_user || current_patient %>
      <header id="header" class="header fixed-top d-flex align-items-center">
        <div class="d-flex align-items-center justify-content-between">
          <a href="/" class="logo d-flex align-items-center">
            <span class="d-none d-lg-block">NutriCheck</span>
          </a>
          <i class="bi bi-list toggle-sidebar-btn"></i>
        </div>
        <nav class="header-nav ms-auto">
          <ul class="d-flex align-items-center name-profile">
            <% if current_user %>
              <% if patient_signed_in?%>
                <%= link_to "Dashboard", patient_dashboard_path, method: :get,type: "button", form_class: "col-sm mx-auto w-75", class: "btn btn-sm color-btn text-white fw-bold w-100"%>
                <%= link_to "Log out", destroy_patient_session_path, :method => :delete, type: "button", form_class: "col-sm mx-auto w-75", class: "btn btn-sm color-btn text-white fw-bold w-100"%>
              <% end %>
              <% if user_signed_in?%>
                <% if current_user.role == "administrator"%>
                  <%= link_to "Dashboard", administrator_dashboard_path, method: :get, type: "button", form_class: "col-sm mx-auto w-75", class: "btn btn-sm color-btn text-white fw-bold w-100"%>
                <% end %>
                <% if current_user.role == "professional"%>
                  <%= link_to "Dashboard", professional_dashboard_path, method: :get, type: "button", form_class: "col-sm mx-auto w-75", class: "btn btn-sm color-btn text-white fw-bold w-100"%>
                <% end %>
                <% if current_user.role == "manager"%>
                  <%= link_to "Dashboard", manager_dashboard_path, method: :get, type: "button", form_class: "col-sm mx-auto w-75", class: "btn btn-sm color-btn text-white fw-bold w-100"%>
                <% end %>
                <%= link_to "Log out", destroy_user_session_path, :method => :delete, type: "button", form_class: "col-sm mx-auto w-75", class: "btn btn-sm color-btn text-white fw-bold w-100"%>
              <% end %>
              <%= link_to "Log In", new_patient_session_path, method: :get,type: "button", form_class: "col-sm mx-auto w-75", class: "btn btn-sm color-btn text-white fw-bold w-100" unless patient_signed_in? || user_signed_in? %>
              <a> <%= current_user.full_name %></a></span>
              <div class="nav-link nav-profile d-flex align-items-center pe-0">
                <% if current_user.photo.attached? %>
                  <%= image_tag(current_user.photo, class: "rounded-circle px-3") %>
                <% else %>
                  <%= image_tag('coming_soon_2.png', class: "rounded-circle px-3") %>
                <% end %>
              <% elsif current_patient  %>
                <strong><span class=""><%= current_patient.patient_full_name %></span></strong>
                <div class="nav-link nav-profile d-flex align-items-center pe-0">
                  <% if current_patient.photo.attached? %>
                    <%= image_tag(current_patient.photo, class: "rounded-circle px-3") %>
                  <% else %>
                    <%= image_tag('coming_soon_2.png', class: "rounded-circle px-3") %>
                  <% end %>
                <% end %>
              </div>
            </ul>
          </header>
          <aside id="sidebar" class="sidebar">
            <ul class="sidebar-nav" id="sidebar-nav">
              <% if current_user %>
                <% if current_user.role == 'manager' %>
                  <li class="nav-item">
                    <div class="nav-link " href="index.html">
                      <i class="bi bi-grid"></i>
                      <span><%= link_to  "Services", services_path %> </span>
                    </div>
                  </li>
                  <li class="nav-item">
                    <div class="nav-link " href="index.html">
                      <i class="bi bi-grid"></i>
                      <span><%= link_to  "Schedules", schedules_path %> </span>
                    </div>
                  </li>
                  <li class="nav-item">
                    <div class="nav-link " href="index.html">
                      <i class="bi bi-grid"></i>
                      <span><%= link_to  "Specialities", specialities_path %> </span>
                    </div>
                  </li>
                  <li class="nav-item">
                    <div class="nav-link " href="index.html">
                      <i class="bi bi-grid"></i>
                      <span><%= link_to  "Appointments", search_appointments_path %> </span>
                    </div>
                  </li>
                  <li class="nav-item">
                    <div class="nav-link " href="index.html">
                      <i class="bi bi-grid"></i>
                      <span><%= link_to  "Patients", search_patients_path %> </span>
                    </div>
                  </li>
                  <li class="nav-item">
                    <div class="nav-link " href="index.html">
                      <i class="bi bi-grid"></i>
                      <span><%= link_to  "Professionals", professionals_path %> </span>
                    </div>
                  </li>
                <% elsif current_user.role == 'administrator' %>
                  <li class="nav-item">
                    <strong>Manage Options</strong>
                    <li class="nav-item">
                      <div class="nav-link " href="index.html">
                        <i class="bi bi-grid"></i>
                        <span><%= link_to  "Services", services_path %> </span>
                      </div>
                    </li>
                    <li class="nav-item">
                      <div class="nav-link " href="index.html">
                        <i class="bi bi-grid"></i>
                        <span><%= link_to  "Schedules", schedules_path %> </span>
                      </div>
                    </li>
                    <li class="nav-item">
                      <div class="nav-link " href="index.html">
                        <i class="bi bi-grid"></i>
                        <span><%= link_to  "Specialities", specialities_path %> </span>
                      </div>
                    </li>
                    <li class="nav-item">
                      <div class="nav-link " href="index.html">
                        <i class="bi bi-grid"></i>
                        <span><%= link_to  "Appointments", search_appointments_path %> </span>
                      </div>
                    </li>
                    <li class="nav-item">
                      <div class="nav-link " href="index.html">
                        <i class="bi bi-grid"></i>
                        <span><%= link_to  "Patients", search_patients_path %> </span>
                      </div>
                    </li>
                    <div class="nav-link " href="index.html">
                      <i class="bi bi-grid"></i>
                      <span><%= link_to  "Manage Managers", managers_path %> </span>
                    </div>
                  </li>
                  <li class="nav-item">
                    <div class="nav-link " href="index.html">
                      <i class="bi bi-grid"></i>
                      <span><%= link_to  "Manage Professionals", professionals_path %> </span>
                    </div>
                  </li>
                  <li class="nav-item">
                    <div class="nav-link " href="index.html">
                      <i class="bi bi-grid"></i>
                      <span><%= link_to  "Manage Schedules", schedules_path %> </span>
                    </div>
                  </li>
                  <strong>Reports Options</strong>
                  <li class="nav-item">
                    <div class="nav-link " href="index.html">
                      <i class="bi bi-grid"></i>
                      <span><%= link_to  "Patients", patients_report_administrators_path %> </span>
                    </div>
                  </li>
                  <li class="nav-item">
                    <div class="nav-link " href="index.html">
                      <i class="bi bi-grid"></i>
                      <span><%= link_to  "Appointments", appointments_report_administrators_path %> </span>
                    </div>
                  </li>
                  <li class="nav-item">
                    <div class="nav-link " href="index.html">
                      <i class="bi bi-grid"></i>
                      <span><%= link_to  "Sales", sales_report_administrators_path %> </span>
                    </div>
                  </li>
                <% elsif current_user.role == 'professional' %>
                  <li class="nav-item">
                    <div class="nav-link " href="index.html">
                      <i class="bi bi-grid"></i>
                      <span><%= link_to  "My Licenses", license_path(current_user) %> </span>
                    </div>
                  </li>
                  <li class="nav-item">
                    <div class="nav-link " href="index.html">
                      <i class="bi bi-grid"></i>
                      <span><%= link_to  "New Schedules", professionals_reservations_slots_path %> </span>
                    </div>
                  </li>
                  <li class="nav-item">
                    <div class="nav-link " href="index.html">
                      <i class="bi bi-grid"></i>
                      <span><%= link_to  "Specialities", specialities_path %> </span>
                    </div>
                  </li>
                  <li class="nav-item">
                    <div class="nav-link " href="index.html">
                      <i class="bi bi-grid"></i>
                      <span><%= link_to  "Appointments", search_appointments_path %> </span>
                    </div>
                  </li>
                  <li class="nav-item">
                    <div class="nav-link " href="index.html">
                      <i class="bi bi-grid"></i>
                      <span><%= link_to  "Patients", search_patients_path %> </span>
                    </div>
                  </li>
                <% end %>
              <% elsif current_patient %>
                <strong>New appointment</strong>
                <li class="nav-item">
                  <div class="nav-link " href="index.html">
                    <i class="bi bi-grid"></i>
                    <span><%= link_to  "Search by service", slots_services_path %> </span>
                  </div>
                </li>
                <li class="nav-item">
                  <div class="nav-link " href="index.html">
                    <i class="bi bi-grid"></i>
                    <span><%= link_to  "Search by professional", slots_professionals_path %> </span>
                  </div>
                </li>
                <strong>Historic appointments</strong>
                <li class="nav-item">
                  <div class="nav-link " href="index.html">
                    <i class="bi bi-grid"></i>
                    <span><%= link_to  "Check ", appointments_path %> </span>
                  </div>
                </li>
              <% end %>
              <!-- End Dashboard Nav -->
            </ul>
          </aside>
          <!-- End Sidebar-->
          <%= render 'shared/flash' %>
          <main id="main" class="main">
            <%= yield %>
          </main>
        <% else %>
          <%= yield %>
        <% end %>
        <footer class="text-center text-white fixed-bottom" style="background-color: #163D2D;">
          © <%= Time.now.strftime("%Y")%> Nutricheck:
        </footer>
      </body>
    </html>
